{% extends 'base.html' %}
{% block mainblock1 %}
<p>Web Sites Available: </p>
&emsp;<a href="http://whg-rig:5000/addform" class="linktext">Add Two Numbers</a><br><br>
&emsp;<a href="http://whg-rig:5000/addpost" class="linktext">Add Post</a><br><br>
&emsp;<a href="http://whg-rig:5000/searchpost/0" class="linktext">Search Post with id in url</a><br><br>
&emsp;<a href="http://whg-rig:5000/feed" class="linktext">Post Feed</a><br><br>
&emsp;<a href="http://whg-rig:5000/add/44/66" class="linktext">Add with 2 numbers given in url</a><br><br>
{% endblock %}